name: test wayland-scanner
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v31
      - run: nix-build -A nixpkgs#wayland-scanner.tests
