name: test wayland-scanner
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v31
      - run: nix build github:/nixos/nixpkgs/nixpkgs-unstable#wayland-scanner.passthru.tests.pkg-config
